*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    flex: 6;
    flex-direction: column;
}
nav ul{
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
nav ul li {
    list-style: none;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
header{
    background: blue;
    color: white;
    flex-basis: 225px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex: 7;
    flex-direction: column;
    margin: 0px 15px;
    gap: 10px;
}
main .card{
    flex: 1;
    background: #cfb6b6;
}