*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    flex: 6;
    flex-direction: column;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background: purple;
}
nav ul li {
    list-style: none;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
header{
    background: blue;
    flex-basis: 225px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    display: flex;
    flex: 7;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
    gap: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    color: white;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}
thead th:nth-child(1) , tbody td:nth-child(1){
    background: #5dade2;
}
thead th:nth-child(2) , tbody td:nth-child(2){
    background: #3498db;
}
thead th:nth-child(3) , tbody td:nth-child(3){
    background: #2e86c1;
}
thead th:nth-child(4) , tbody td:nth-child(4){
    background: #2874a6;
}