*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display: flex;
    flex: 6;
    flex-direction: column;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav ul li {
    list-style: none;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
}
#active{
    background: #9584aa;
    padding: 20px;
    color: white;
}
header{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    flex-basis: 225px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    display: flex;
    flex: 7;
    align-items: center;
    flex-direction: column;
    margin: 10px 30px;
    gap: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    text-align: center;
}
thead th:nth-child(1) , tbody td:nth-child(1){
    background: #5dade2;
}
thead th:nth-child(2) , tbody td:nth-child(2){
    background: #3498db;
}
thead th:nth-child(3) , tbody td:nth-child(3){
    background: #2e86c1;
}
thead th:nth-child(4) , tbody td:nth-child(4){
    background: #2874a6;
}